{% extends "store/base.html" %}
{% load static %}
{% block content %}
{% load star_rating %}   
{% load custom_filters %}
{% load humanize %}
{{block.super}}
<main>
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store:categories-list' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
            </ol>

            {% block title %}
            {{ product.title }} | update cart
            {% endblock title %}

            {% block seo %}
            <meta name="description" content="{{ product.description.title }}">
            <meta name="keywords" content="{{ product.title }}">
            {% endblock seo %}
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-separated">
                            <span class="product-label label-sale">{{ product.label }}</span>
                            <figure class="product-separated-itemx">
                                <a href="{{product.get_absolute_url}}">

                                    <img src="{{ product.img_1.url }}" alt="product image">
                                </a>
                            </figure>
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details sticky-content">
                            <div class="product-price">
                                {% if product.discount_price %}
                                <span class="new-price" id="new-price">&#8358;{{ product.discount_price|floatformat:2|intcomma }}</span>
                                <span class="old-price">&#8358;{{ product.price|floatformat:2|intcomma }}</span>
                                {% else %}
                                <span class="new-price">&#8358;{{ product.price|floatformat:2|intcomma }}</span>
                                {% endif %}
                            </div><!-- End .product-price -->
                      
                          <div class="product-cat"> 
                                    
                                    {% for size in product.size.all %}
                                    <div class="size-section">
                                        <h3> size {{ size.size }}</h3>
                                        {% for color in product.color.all %}
                                            <div class="color-section d-flex w-50">
                                                <img src="{{color.img.url}}" width="60px" height="65px">
                                                <div>

                                                    <input type="number" min="0" class="quantity" data-size="{{ size.id }}" data-color="{{ color.id }}" value="0">                  
                                                </div> <br>                                              
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}   
                                    <span>Category:</span>
                                    <a href="#">{{ product.category.title }}</a>
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div><!-- End .social-icons -->
                            </div><!-- End .product-details-footer -->

                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
 <input type="hidden" value="{{product.id}}" id="product-id">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>

    $(document).ready(function() {
        $('.quantity').on('change', function() {
            const size = $(this).data('size');
            const color = $(this).data('color');
            const quantity = $(this).val();
            const slug = '{{ product.slug }}';

            $.ajax({
                type: 'POST',
                url: '{% url "store:update_cart_size"  %}',
                data: {
                    'slug': slug,
                    'size': size,
                    'color': color,
                    'quantity': quantity,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        console.log('Cart updated successfully');
                    } else {
                        alert('Failed to update cart');
                    }
                }
            });
        });



        
    });


</script>
 
</main><!-- End .main -->



{% endblock %}
