{% extends "store/base.html" %}
{% load static %}
{% block content %}
{% load star_rating %}   
{% load custom_filters %}
{% load humanize %}
{{block.super}}
<main>
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store:categories-list' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
            </ol>
            {% block title %}
            {{ product.title }}
            {% endblock title %}
            {% block seo %}
            <meta name="description" content="{{ product.description.title }}">
            <meta name="keywords" content="{{ product.title }}">
            {% endblock seo %}
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-separated">
                            <span class="product-label label-sale">{{ product.label }}</span>
                            <figure class="product-separated-itemx">
                                <img src="{{ product.img_1.url }}" alt="product image">
                                <a href="#" id="btn-separated-gallery" class="btn-product-gallery">
                                    <i class="icon-arrows"></i>
                                </a>
                            </figure>

                            {% if product.img_2 %}
                            <figure class="product-separated-item">
                                <img src="{{ product.img_2.url }}" alt="product image">
                            </figure>
                            {% endif %}

                            {% if product.img_3 %}
                            <figure class="product-separated-item">
                                <img src="{{ product.img_3.url }}" alt="product image">
                            </figure>
                            {% endif %}

                            {% if product.img_4 %}
                            <figure class="product-separated-item">
                                <img src="{{ product.img_4.url }}" alt="product image">
                            </figure>
                            {% endif %}
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details sticky-content">
                            <h1 class="product-title" id="product-title">{{ product.title }}</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <style>
                                    #star-ratings {
                                        font-size: 20px;
                                        color: gold;
                                    }
                                </style>
                                <div id="star-ratings">
                                    <p id="average-rating">
                                        {{ product.average_rating|floatformat:1 }}
                                    </p>
                                    {% star_rating product.average_rating %}
                                </div>
                                <span class="ratings-text">{{ item.count }} {{ count }} (reviews)</span>
                            </div><!-- End .ratings-container -->
                            
                            {% for item in sizes %}              
                            <div class="product-price">
                                {% if forloop.counter == 1 %}
                                <span class="new-price" id="new-price">&#8358;{{ item.discount_price|floatformat:2|intcomma }}</span>
                                <span class="old-price">&#8358;{{ item.price|floatformat:2|intcomma }}</span>
                                {% endif %}
                            </div><!-- End .product-price -->
                            {% endfor %}

                            <div class="product-content">
                                <p id="product-description">{{ product.description }}</p>
                            </div>

                            <div class="product-details-action">           
                                <button class="btn-product btn-cart " type="submit" id="cart-btnx">
                                <!--class=" btn btn-product btn-wishlist"  -->
                                <span>
                                    {% if is_in_cart %}
                                    added to cart                                       
                                    {% else %}
                                    update quantity to add to cart
                                    {% endif %}              
                                </span></button>
                                <div class="details-action-wrapper">
                                    <!-- <button id="remove-from-wishlist" class="btn-product btn-wishlist  btn-link" data-url="{{ product.get_remove_from_wishlist_url }}" class="btn btn-danger">Remove from Wishlist</button> -->
                                    <button class="toggle-wishlist btn-product btn-wishlist btn" 
                                    data-add-url="{{ product.get_add_to_wishlist_url }}" 
                                    data-remove-url="{{ product.get_remove_from_wishlist_url }}" 
                                    data-product-id="{{ product.id }}" 
                                    class="btn">
                                {% if in_wishlist %}
                                    Remove from Wishlist
                                {% else %}
                                    Add to Wishlist
                                {% endif %}
                            </button>
                            
                                    <!-- <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a> -->
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->
                            {% if product.size %}
                            <h4 for="size"> Available Sizes:</h4>
                         
                            {% endif %}

                            <div class="details-filter-row details-row-size">
                                <div class="product-cat">                          
                                    {% for size in product.size.all %}
                                    <div class="size-section">
                                        {% for color in product.color.all %}
                                        <div class="color-section d-flex align-content-center  w-50">
                                            <div>
                                            <img src="{{color.img.url}}" width="50px" height="55px">
                                            <div class="product-cat">
                                                <span>{{ color.name }}</span>                      
                                            </div>
                                             </div>
                                            <div class="d-flex m-3">
                                                <div>
                                                    <h3>{{ size.size }}</h3>
                                                    <div class="product-price">
                                                        <p class="new-price" id="new-price">&#8358;{{ size.discount_price|floatformat:2|intcomma }}</p>
                                                        <p class="old-price">&#8358;{{ size.price|floatformat:2|intcomma }}</p>                              
                                                    </div>
                                                </div>
                                                    
                                                <div>
                                                    <input type="number" min="0" max="{{color.quantity}}" class="quantity" data-size="{{ size.id }}" data-color="{{ color.id }}" value="" placeholder="quantity">                 
                                                </div> <br>                                              
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div><!-- End .product-cat -->
                                {% endfor %}   

                            </div>

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Category:</span>
                                    <a href="#">{{ product.category.title }}</a>
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div><!-- End .social-icons -->
                            </div><!-- End .product-details-footer -->

                            <div class="accordion accordion-plus product-details-accordion" id="product-accordion">
                                <div class="card card-box card-sm">
                                    <div class="card-header" id="product-desc-heading">
                                        <h2 class="card-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-desc" aria-expanded="false" aria-controls="product-accordion-desc">
                                                Description
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="product-accordion-desc" class="collapse" aria-labelledby="product-desc-heading" data-parent="#product-accordion">
                                        <div class="card-body">
                                            <div class="product-desc-content">
                                                <p>{{ product.description }}</p>
                                            </div><!-- End .product-desc-content -->
                                        </div><!-- End .card-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->

                                <div class="card card-box card-sm">
                                    <div class="card-header" id="product-info-heading">
                                        <h2 class="card-title">
                                            <a role="button" data-toggle="collapse" href="#product-accordion-info" aria-expanded="true" aria-controls="product-accordion-info">
                                                Additional Information
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="product-accordion-info" class="collapse show" aria-labelledby="product-info-heading" data-parent="#product-accordion">
                                        <div class="card-body">
                                            <div class="product-desc-content">
                                                <p>{{ product.additional_information }}</p>

                                                {% if product.features %}
                                                <h3>Features</h3>
                                                <ul>
                                                    {% if product.features.feature1 %}
                                                    <li>{{ product.features.feature1 }}</li>
                                                    {% endif %}
                                                    {% if product.features.feature2 %}
                                                    <li>{{ product.features.feature2 }}</li>
                                                    {% endif %}
                                                    {% if product.features.feature3 %}
                                                    <li>{{ product.features.feature3 }}</li>
                                                    {% endif %}
                                                    {% if product.features.feature4 %}
                                                    <li>{{ product.features.feature4 }}</li>
                                                    {% endif %}
                                                    {% if product.features.feature5 %}
                                                    <li>{{ product.features.feature5 }}</li>
                                                    {% endif %}
                                                </ul>
                                                {% endif %}
                                            </div><!-- End .product-desc-content -->
                                        </div><!-- End .card-body -->                                      
                                            </div><!-- End .product-desc-content -->
                                        </div><!-- End .card-body -->                                     
                                            {% for rating in ratings %}            
                                        <div class="card card-box card-sm">
                                            <div class="card-header" id="product-review-heading">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-review" aria-expanded="false" aria-controls="product-accordion-review">
                                                        Reviews ({{count}})
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="product-accordion-review" class="collapse" aria-labelledby="product-review-heading" data-parent="#product-accordion">
                                                <div class="card-body">
                                                    <div class="reviews">
                                                        <div class="review">            
                                                        <div class="review">
                                                            <div class="row no-gutters">
                                                                <div class="col-auto">
                                                                    <h4><a href="#">{{rating.user.username}}</a></h4>
                                                                    <div class="ratings-container">
                                                                        <div id="star-ratings"  style="width: 100%;">
                                                                            {% load star_rating %}
                                                                            {% star_rating rating.rating %}
                                                                        </div><!-- End .ratings -->
                                                                    </div><!-- End .rating-container -->
                                                                    <span class="review-date">{{rating.date}}</span>
                                                                </div><!-- End .col -->
                                                                <div class="col">
                                                                    <h4>{{rating.headline}}</h4>

                                                                    <div class="review-content">
                                                                        <p>{{rating.review}}</p>
                                                                    </div><!-- End .review-content -->

                                                                    <div class="review-action">
                                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                                    </div><!-- End .review-action -->
                                                                </div><!-- End .col-auto -->
                                                            </div><!-- End .row -->
                                                        </div><!-- End .review -->
                                                        {% if user.is_authenticated and not user_rating %}
                                                            <form method="post">
                                                                {% csrf_token %}
                                                                {{ rating_form.as_p }}
                                                                <button type="submit" class="btn btn-primary">Submit Rating</button>
                                                            </form>
                                                        {% endif %}
                                                    </div><!-- End .reviews -->
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                        {% endfor %}


                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->
                            </div><!-- End .accordion -->
                      
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
 

    $(document).ready(function() {
        $('.toggle-wishlist').click(function() {
            var button = $(this);
            var add_url = button.data('add-url');
            var remove_url = button.data('remove-url');
            var in_wishlist = button.text().trim() === 'Remove from Wishlist';

            var url = in_wishlist ? remove_url : add_url;
            $.ajax({
                url: url,
                method: 'GET',
                success: function(response) {
                    alert(response.message);
                    if (response.in_wishlist) {
                        $('.toggle-wishlist[data-product-id="' + button.data('product-id') + '"]').text('Remove from Wishlist');
                    } else {
                        $('.toggle-wishlist[data-product-id="' + button.data('product-id') + '"]').text('Add to Wishlist');
                    }
                }
            });
        });
    });



        
        $(document).ready(function() {
            $('.quantity').on('change', function() {
                const size = $(this).data('size');
                const color = $(this).data('color');
                const quantity = $(this).val();
                const slug = '{{ product.slug }}';
    
                $.ajax({
                    type: 'POST',
                    url: '{% url "store:update_cart_size"  %}',
                    data: {
                        'slug': slug,
                        'size': size,
                        'color': color,
                        'quantity': quantity,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            console.log('Cart updated successfully');
                        } else {
                            alert('Failed to update cart');
                        }
                    }
                });
            });
    
    
    
            
        });
    
</script>
   

{% endblock %}
